.invoice-details {
    width:100%;
}

.row {
    margin-bottom:10px;
}


.demo-card-wide.mdl-card {
    width: 512px;
    margin: 10px auto;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: rgb(255,64,129);
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
.mdl-tabs__tab-bar a:hover,.mdl-tabs__tab-bar a:focus, a.mdl-button:focus, a.mdl-button:hover {
    text-decoration: none !important; 
}

.invoice-item-input {
    width: auto !important; 
}

@media only print {
    .no-print {
        display: none;
        margin: 0px;
        padding: 0px;
    }

    .container {
        width: 90%;
        margin-left:5%;
        margin-right:5%;
    }
    td,th {
        padding: 4px !important;
        height: auto !important;
    }

    tr > td:last-child, tr > th:last-child {
        padding-right: 10px !important;
    }

    tr > td:first-child, tr > th:first-child {
        padding-left: 10px !important;
    }
    tr {
        height: auto !important;
    }

    input {
        border: none !important;
    }
    #InvoiceRow {
        position: absolute;
        top: 50px;
        width:89%;
    }
}